.wit{
    color: black;
    text-align: left;
    background-color: whitesmoke;
    margin: auto;
    width: 70%;
    border-radius: 15px;
    opacity: 80%;
    padding: 10px;
    a {

        
        background-color: black;
        color: white;
        border: 1px lightgray solid;
        padding: 5px;
        transition: 1.5s;
    }

    a:hover{
        background-color: #D02013;
        color: white;
        border: 0px lightgray solid;
        padding: 5px;
        transition: 0.4s;
        border-radius: 15px;
    }

  }