.add{
    width: 50%;
    margin: auto;
    text-align: center;
    form{
        background: white;
        opacity: 95%;
        border-radius: 15px;
        color: black;
       
    }
    form, input , label{
        color: black;
    }
}