.boutton{
    .container{
        margin: 5%;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .off div , p{
        
        color: black;
       
        opacity: 95%;
        
    }
    .image-container{
        text-align: center;
        margin: 3%;
    }
    h1{
        text-align: center;
        color:black;
    }
    .description{
        margin: 100px;
        text-align: center;
    }
}
