.boutton{
    
    .container{
        padding: 10px;
        margin: 5%;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .editBtn{
        width: 100px;
        
        text-align: center;
        transition: 1.2s;
        background: lightgray;
    }
    .editBtn:hover{
        color: white;
        width: 100px;
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        background: black;
        border-radius: 15px;
        transition: 0.3s;
    }
    .off div , p{
        
        color: black;
       
        opacity: 95%;
        
    }
    .image-container{
        text-align: center;
        // margin: 3%;
    }
   
    h1{
        text-align: center;
        color:black;
    }
    .otherMovies{
        display: flex;
        justify-content: space-around;
        text-align: center;

    }
    .otherMovies img{
       width: 40%;
       height: 55%;
       background-size: cover;
    }
    .description{
        margin: 100px;
        padding: auto;
        text-align: center;
        
        display: block;
        background-color: gainsboro;
        border-radius: 15px;
    }
    .actors{
        padding-top: 2% ;
        border: none;
        // width: 45%;
        
        height: 100%;
        display: flex;
        
        justify-content: center;
    }
    .actor{
        
        flex-wrap: wrap;
        height: 100%;
        width: 200px;
        border: none;
    }
    .actor img{
        
        width: 40%;
        height: 30%;
    }

    @media (max-width: 1326px) { 
        .description{
            display: block;
            
        }
        .actors{
            border: none;
            flex-wrap: wrap;
            display: flex;
            
           
            width: 100%;
            justify-content: center;
        }
        .actor{
        
            
            height: 100%;
            width: 200px;
            border: none;
        }
        .otherMovies{
            display: block;
            justify-content: center;
            text-align: center;
           
        }
        .otherMovies img{
            width: 40%;
        }
      
        
     }

     @media (max-width: 909px) {
        .description{
            margin: 2%;
        }
        
     }
}
