.boutton{
    .container{
        margin: 5%;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .off div , p{
        
        color: black;
       
        opacity: 95%;
        
    }
    .image-container{
        text-align: center;
        margin: 3%;
    }
    h1{
        text-align: center;
        color:black;
    }
    .description{
        margin: 100px;
        text-align: center;
        display: flex;
        background-color: gainsboro;
        border-radius: 15px;
    }
    .otherMovies{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .actors{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
