.films{
    
    border: none;
    margin: auto ;
    width: 70%;

    
    
    

    .films-list{
        background-color: whitesmoke;
        
        border-radius: 10px;
        opacity: 80%;
        
        
        
    
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
        
        
        .film img{
            
            width: 200px;
            height: 300px;
            
            border-radius:10px ;
        }
    
    }

    .films-list p{
        color: black;
        font-size: 15px;
        
    }

    .film{
        
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
        background-color: whitesmoke opacify($color: #000000, $amount: 0);
        
        
    }

    .boutton{
        color: white;
        font-size: 15px;
        height: 20px;
        width: 45px;
        border-radius:5px ;
        background-color: $color-6;
        border: none;
        cursor: pointer;
        margin: 5px;
    }
    form{
        
        text-align: center;
        
    }
    .filterinput{
            width: 30%;
            height: 30px;
            border-radius: 15px;
            border: none;
    }

    .filterButton{
        background-color: black;
        color: white;
        border: 1px lightgray solid;
        padding: 5px;
        transition: 1.5s;
    }
    .filterButton:hover{
        background-color: #D02013;
        color: white;
        border: 0px lightgray solid;
        padding: 5px;
        transition: 0.4s;
        border-radius: 15px;
    }

    @media (max-width: 1326px) {
        .filterinput{
            width: 40%;
            height: 30px;
            border-radius: 15px;
            border: none;
    }
    }
        @media (max-width: 909px) {
            .filterinput{
                width: 60%;
                height: 30px;
                border-radius: 15px;
                border: none;
        }
        }   
}
 