.films{
    
    border: none;
    // display: flex;
    margin: auto ;
    width: 60%;

    
    
    

    .films-list{
        background-color: whitesmoke;
        
        border-radius: 10px;
        opacity: 80%;
        
        // background-repeat: no-repeat;
        // background-position:top;
        // background-attachment: fixed;
        
    
        
        display: flex;
        flex-wrap: wrap;
        // flex-flow: row wrap;
        justify-content: space-around;
        
        
        
        
        img{
            width: 200px;
            height: 300px;
            border-radius:10px ;
        }
    
    }

    .films-list p{
        color: black;
        font-size: 15px;
    }

    .film{
        
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
        background-color: whitesmoke opacify($color: #000000, $amount: 0);
        
        
    }

    .boutton{
        color: white;
        font-size: 15px;
        height: 20px;
        width: 45px;
        border-radius:5px ;
        background-color: $color-6;
        border: none;
        cursor: pointer;
    }

}